{{ block title }}Budget restriction{{ endblock }}
{{ block content }}
<style>
    .cuadro {
      background-color: rgb(214, 241, 245);
      padding: 20px;
    }
</style>

<link href="https://kineticgraphs.org/css/kg.0.2.6.css" rel="stylesheet" type="text/css">
<script src="https://kineticgraphs.org/js/kg.0.2.6.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--hay 3 tipos de respuestas: boolean, numeros, --> 
<!--menu estilo --> 
{% include 'global/questions_answers.html' %}
{% include 'global/interactive_questions_answers.html' %}
{% include 'global/initialize_questionnaire.html' %}
{% include 'global/menu.html' %}
<br><br>
<div class="cuadro" id = "the_budget_set">
<b>The budget set</b> <br><br>

The<b> budget set</b> contains all the combinations of goods ---or bundles--- that the consumer can afford given the prices of the goods and her income. 
<br><br>
Mathematically, the budget set includes all bundles <span id="spantext1"></span> that satisfy
<br><br>
<div id="equation1" style="text-align: center;"> </div>
<br>
The left-hand side of this expression is the cost of acquiring a specific bundle.
<br>
The right-hand side of the expression is just the income. 
<br>
The inequality states that the person can only acquire bundles that cost less than the income she has! 

<br><br>
</div>
<br><br>


<div class="cuadro" id="budget_line">
    <b>Budget Line</b>
    <br><br>
    The budget line is given by
    <div id="equation2" style="text-align: center;"></div>
    <br>
    It includes all bundles <span id="spantext2"></span> that are just affordable. 
    The next picture illustrates the budget restriction.
    <br>
</div>
<br><br>
<!--Grafico 1-->
{% include 'graphs/graph1.html' %}
<br><br>
<div class="cuadro" id="static_questions">
<b>Practice Questions:</b>
<br>
<br><br>
<div id="cuestionario_estatico_1"></div>
</div>
<br><br>
<div class="cuadro" id="interactive_questions">
  <b>Interactive Questions:</b>
<br><br>
Now you can change the price and income parameters to solve the same questions with a slightly different context:
<br><br>
  <div id="variables_cuestionario_interactivo_1">
  </div>
  <br><br>
  <div id="cuestionario_interactivo_1"></div>

</div>
<br><br>
<div class="cuadro" id="taxes">
<b>Taxes</b>
  <br><br>
Let us study how different taxes affect the budget set. 
<br><br>
We will study two types of taxes: sale tax and income tax. 
<br><br>
These taxes affect different parts of the budget line and, consequently, the budget set.
<br><br>
The sale tax is a per-unit tax imposed on the consumption of either good 1 or good 2. For example, if a per-unit tax of t dollars is imposed on good 1, then the consumer will need to pay
<br><br>
<div id="equation3" style="text-align: center;"></div>
<br><br>
per unit of good 1 that she acquires. After the tax the budget set is
<br><br>
<div id="equation4" style="text-align: center;"></div>

<br><br>
The next picture illustrates the budget restriction after the sale tax.
<br><br>

<br><br>
</div>
<br><br>
<!--Grafico 2-->
{% include 'graphs/graph2.html' %}
<br><br>

<div class="cuadro" id="taxes_static_questions">
<b id="questions_tax">Practice Questions </b>
<br><br>
Let p <sub>1</sub> = 2, p <sub>2</sub> = 4, and m = 100. The government introduces a sale tax of t = 1 dollar on good 2.
<br><br>

Also PICTURE for Answers!
<br><br>
<div id="cuestionario_estatico_2"></div>
</div>

<br><br>
<div class="cuadro" id = "income_taxes"> 
<b>Income Tax</b>
<br><br>


The income tax is an amount of money that the consumer gives to the government. If an income tax T is introduced, then the effective income of the person reduces to
<br><br>
<div id="equation5" style="text-align: center;"></div>
<br><br>
After the tax the budget set is
<br><br>
<div id="equation6" style="text-align: center;"></div>
<br><br>
The next picture illustrates the budget restriction after the income tax.
<br><br>


</div>
<br><br>
<!--Grafico 1-->
{% include 'graphs/graph3.html' %}


<!--
1. What is highest amount that the person can buy of good 1?
2. What is highest amount than the person can buy of good 2?
3. What is the cost of bundle(5,10)?
4. Is bundle (5,10) affordable?
5. What is the cost of bundle(40,10)?
6. Is bundle (40,10) affordable?
7. Suppose the person is consuming a bundle that that exhausts her income. If she reduces the consumption of good 2 in one unit, how many more units can the person acquire of good 2?

8. What is the slope of the budget line?
-->
<br><br>
<div class="cuadro" id="income_taxes_static_questions">
  <b id="questions_tax">Practice Questions </b>
  <br><br>
  Let p <sub>1</sub> = 2, p <sub>2</sub> = 4, and m = 100. The government introduces an income tax of T = 20 dollars.
Also PICTURE for Answers!
<br><br>
  <br><br>
  <div id="cuestionario_estatico_3"></div>
</div>




<!--
1. What is highest amount that the person can buy of good 1?
2. What is highest amount that the person can buy of good 2?
3. What is the cost of bundle (5, 10)?
4. Is bundle (5, 10) affordable?
5. What is the cost of bundle (40, 10)?
6. Is bundle (40, 10) affordable?
7. Suppose the person is consuming a bundle that that exhausts her income. If she reduces the consumption of good 2 in one unit, how many more units can the person acquire of good 2?
8. What is the slope of the budget line?

-->

<br>
<br>
<h1><b>Module 2.3: Preferences and Utility </b> <br><br></h1>
<div class="cuadro">
  
   
  <b>Consumer Preferences</b><br><br>
  Consumer preferences tell us how the consumer would rank any two bundles of goods. We write <br><br>
  <div id="equation7" style="text-align: center;"></div><br>
  to mean that the consumer strictly prefers bundle <span id="spantext3"></span> to <span id="spantext4"></span><div class="br"></div> 
  <br>
  We use ≽ to mean “weakly prefers” and the symbol ∼ to mean she is “indifferent”. 
  
</div>


<div class="cuadro">
<b>Properties of Preferences</b><br><br>
We often impose restrictions on consumer preferences. 
<br>
Three of them are of particular importance.
<br><br>
<b>Completeness:</b> The consumer can rank any pair of bundles. That is, for any two bundles <span class="ecuacion">(x_{1}, x_{2})</span> and <span class="ecuacion">(x’_{1}, x’_{2})</span>, the consumer should be able to say whether 
 <span class="ecuacion">(x_{1}, x_{2}) ≽ (x’_{1}, x’_{2}), (x’_{1}, x’_{2})  ≽ (x_{1}, x_{2}),  </span>, or both. <br>
This restriction just eliminates the possibility that the consumer does not know what bundle she prefers.
<br><br>
<b>Transitivity:</b> For any three bundles <span class="ecuacion">(x_{1}, x_{2})</span>, <span class="ecuacion">(x’_{1}, x’_{2}), </span>, and <span class="ecuacion">(x’’_{1}, x’’_{2})</span> we have that 
<span class="ecuacion">(x_{1}, x_{2}) ≽ (x’_{1}, x’_{2})</span> and <span class="ecuacion">(x’_{1}, x’_{2}) ≽ (x’’_{1}, x’’{2})</span> implies <span class="ecuacion">(x_{1}, x_{2}) ≽ (x’’_{1}, x’’_{2})</span>. 
<br><br>
(If one of the initial preferences is strict, then <span class="ecuacion">(x_{1}, x_{2}) ≻ (x’_{1}, x’_{2})</span>.) <br><br>
<b>Reflexibility:</b> Each bundle is at least as good as itself. That is, <span class="ecuacion">(x_{1}, x_{2}) ≽ (x_{1}, x_{2})</span>.
</div>
<br><br>




<div class="cuadro">
  <b>More on Restrictions on Preferences</b> <br><br>
  Think for a little bit about the strength of these restrictions. Would you be able to rank any pair of COVID vaccines without the advice of an expert?
  <br><br>
  Though these conditions are strong, they are reasonable in a variety of contexts. They also constitute a good starting point!  
</div>

<br><br>
<div class="cuadro">
  <b>Utility Function</b><br><br>
In practice, it is sometimes hard to study choices directly from preferences. That is why we often use utility functions to describe them. 
<br><br>
We say the <b>utility function</b> <span class="ecuacion">u(x_{1}, x_{2})</span> represents the preference ≽ if the next condition is true for any pair of bundles 
<br><br>
    <div style="text-align: center;">
      <span class="ecuacion">(x_{1}, x_{2})  ≽  (x’_{1}, x’_{2})</span>   if and only if   <span class="ecuacion">u(x_{1}, x_{2}) ≥ u(x’_{1}, x’_{2})</span> .
    </div>

</div>
<br><br>



<div class="cuadro">
  <b>Questions:</b>
</div>
<br><br>


<div class="cuadro">
  <b>Important Questions about Utility </b><br><br>
  Suppose that you find a utility function <span class="ecuacion">u(.)</span> that represents some preferences <span class="exuacion">≽</span>. 
  <br><br>
  Is this representation unique?<br>
  No! Any increasing transformation of the initial utility function will represent the same preference. 
  
  <br><br>
  Can any preference be represented by some utility function? <br>
  No! It has to be complete and transitive. Interestingly, these two conditions are necessary but not sufficient!
</div>
<br><br>

<div class="cuadro">
  <b>Questions</b><br><br>
  Anne has a utility function given by u(x₁, x₂) =√(x₁x₂) and the utility function of Mario is given by u(x₁, x₂) = x₁x₂. <br><br>
  <div id="cuestionario_estatico_4"></div>
</div>


<br><br>
<div class="cuadro">
  <b>Widely used Utilities</b><br><br>
  The number of preferences and utility representations is unlimited. But three of them are quite popular.
  <br><br>
  Perfect Substitutes: <span class="ecuacion">u(x_{1}, x_{2}) = ax_{1} + bx_{2} </span><br> 
  Perfect Complements: <span class="ecuacion">u(x_{1}, x_{2}) = min\{ax_{1},b_{2}\} </span><br> 
  Cobb-Douglass: <span class="ecuacion">u(x_{1}, x_{2}) = x_{1}^{2} + x_{2}^{2} </span><br>
</div>
<br><br>



<div class="cuadro">
  <b>Graphical Representation of the Utility</b><br><br>
The graphical representation of the utility function takes place in a high-dimensional space. Nevertheless, in the case of two goods, we can describe the utility in a two-dimensional picture via indifference curves. 
<br><br>
Later on, by overlapping indifference curves with the budget line, we will be able to describe choices!
</div>
<br><br>



<div class="cuadro">
  <b>Indifference Curve</b><br><br>
An indifference curve is the set of all pairs <span class="ecuacion">(x_{1}, x_{2})</span> that give the same level of utility. That is, it describes a set of bundles that are equally preferred from the perspective of the consumer.
</div>
<br><br>

<div><b>Indifference Curve for Perfect Substitutes</b><br><br></div>
{% include 'graphs/graph4.html' %}
<br><br>

<div><b>Indifference Curve for Perfect Complements</b><br><br></div>
{% include 'graphs/graph5.html' %}
<br><br>

<div><b>Indifference Curve for Cobb-Douglass</b><br><br></div>
{% include 'graphs/graph6.html' %}
<br><br>

<div class="cuadro">
  <b>Two Important Concepts</b><br><br> 
  There are two concepts relatedly to the utility function that are of particular importance in explaining choices:
  <br>
  <br>
  The marginal utility and the marginal rate of substitution.
</div>
<br><br>


<div class="cuadro">
<b>Questions</b>
</div>
<br><br>


<div class="cuadro">
  <b>Marginal Utility</b><br><br>
  The <b>marginal utility</b> reflects the change in the utility level when we increase slightly the consumption of a given good.br <br> <br>
  Since we have two goods in our model, we need to specify the marginal utility for each of them. <br><br>
  The <b>marginal utility of good 1</b>, <span class="ecuacion">MU_{1} </span>, captures the change in the utility level when we increase slightly the consumption of good 1. 
  Similarly, the <b>marginal utility of good 2</b>, <span class="ecuacion">MU_{2} </span>, captures the change in the utility level when we increase slightly the consumption of good 2.
</div>
<br><br>


<div class="cuadro">
<b>  More on Marginal Utility</b><br><br>
When the utility function is differentiable, then the marginal utilities of goods 1 and 2 take a simple form.
<br><br>
<span class="ecuacion">MU_{1}(x_{1}, x_{2}) = \alpha u(x_{1}, x_{2}) / \alpha x_{1} </span>
<br>
<span class="ecuacion">MU_{2}(x_{1}, x_{2}) = \alpha u(x_{1}, x_{2}) / \alpha x_{2} </span>
</div>
<br><br>


<div class="cuadro">
<div id="cuestionario_estatico_6"></div>
</div>
<br><br>


<div class="cuadro"> 
<b>  Marginal Rate of Substitution</b><br><br>
The <b>marginal rate of substitution</b>, MRS, is the rate at which a consumer is willing to give up some amount of one good in exchange for another good while maintaining the same level of utility. 
</div>
<br><br>



<div class="cuadro">
  <b>More of the Marginal Rate of Substitution</b><br><br>
The marginal rate of substitution describes the slope of an indifference curve (in absolute value)! It relates to the marginal utilities in a simple way. 
<br><br>
<span class="ecuacion">MRS(x_{1}, x_{2}) = MU_{1}(x_{1}, x_{2})/ MU_{2}(x_{1}, x_{2})</span>
</div>
<br><br>

<div class="cuadro">
  <b>Questions</b>
</div>
<br><br>



    {{ next_button }}
    <script>
      var idDiv = "variables_cuestionario_interactivo_1";
      var variables = ["p1,2", "p2,4", "m,100"];
      generarVariablesCuestionarioInteractivo(idDiv, variables);

    </script>
    <script>

        ///instanciar los cuestionarios
        function instanciar_cuestionario_estatico(id_div_contenedor,inicio,final){
            //var id_div_contenedor = document.getElementById(id)
            mostrarPreguntasRespuestas(id_div_contenedor,inicio,final,"estatico");
        }
        function instanciar_cuestionario_interactivo(id_div_contenedor,inicio,final){
            //var id_div_contenedor = document.getElementById(id)
            mostrarPreguntasRespuestas(id_div_contenedor,inicio,final,"interactivo");
        }
        instanciar_cuestionario_estatico("cuestionario_estatico_1",1,8);
        instanciar_cuestionario_estatico("cuestionario_estatico_2",9,16);
        instanciar_cuestionario_estatico("cuestionario_estatico_3",17,24);
        instanciar_cuestionario_interactivo("cuestionario_interactivo_1",1,8);
        instanciar_cuestionario_estatico("cuestionario_estatico_4",25,25);
        instanciar_cuestionario_estatico("cuestionario_estatico_6",27,28);

    </script>
    
    <script>
        //ecuaciones
        document.addEventListener("DOMContentLoaded", function() {
        const equation1 = document.getElementById("equation1");
        equation1.innerHTML = katex.renderToString("p_{1} x_{1} + p_{2} x_{2} ≤ m");
        const equation2 = document.getElementById("equation2")
        equation2.innerHTML = katex.renderToString("p_{1} x_{1} + p_{2} x_{2} = m");
        const equation3 = document.getElementById("equation3")
        equation3.innerHTML = katex.renderToString("t + p_{i}");
        const equation4 = document.getElementById("equation4");
        equation4.innerHTML = katex.renderToString("(p_{1} + t) x_{1} + p_{2} x_{2} ≤ m");
        const equation5 = document.getElementById("equation5");
        equation5.innerHTML = katex.renderToString("m -T");
        const equation6 = document.getElementById("equation6")
        equation6.innerHTML = katex.renderToString("p_{1} x_{1} + p_{2} x_{2} ≤ m - T");
        const equation7 = document.getElementById("equation7")
        equation7.innerHTML = katex.renderToString("(x1, x2) ≻ (x’1, x’2)");


        const spantext1 = document.getElementById("spantext1")
        spantext1.innerHTML = katex.renderToString("(x_{1}, x_{2})");
        const spantext2 = document.getElementById("spantext2")
        spantext2.innerHTML = katex.renderToString("(x_{1}, x_{2})");
        const spantext3 = document.getElementById("spantext3")
        spantext3.innerHTML = katex.renderToString("(x1, x2)");
        const spantext4 = document.getElementById("spantext4")
        spantext4.innerHTML = katex.renderToString("(x’1, x’2)");
        const spantext5 = document.getElementById("spantext5")
        spantext5.innerHTML = katex.renderToString("(x1, x2)");
        const spantext6 = document.getElementById("spantext6")
        spantext6.innerHTML = katex.renderToString("(x’1, x’2)");
        const spantext7 = document.getElementById("spantext7")
        spantext7.innerHTML = katex.renderToString("(x1, x2) ≽ (x’1, x’2), (x’1, x’2)  ≽ (x1, x2)");
        
        });



        function convertirEcucionesKatex() {
          // Obtener todos los elementos con la clase "ecuacion"
          const elementosEcuacion = document.getElementsByClassName("ecuacion");
          // Recorrer los elementos y procesar cada uno con KaTeX
          for (let i = 0; i < elementosEcuacion.length; i++) {
            const elemento = elementosEcuacion[i];
            // Obtener el contenido de la ecuación
            const contenidoEcuacion = elemento.innerText;
            // Crear un elemento <span> para mostrar la ecuación procesada
            const elementoProcesado = document.createElement("span");
            // Utilizar KaTeX para procesar la ecuación
            katex.render(contenidoEcuacion, elementoProcesado);
            // Reemplazar el contenido original con la ecuación procesada
            elemento.innerHTML = elementoProcesado.innerHTML;
          }
        }
        convertirEcucionesKatex()
    </script>

{{ endblock }}
