{{ block title }}Budget restriction{{ endblock }}
{{ block content }}
<style>
    .cuadro {
      background-color: rgb(214, 241, 245);
      padding: 20px;
    }
</style>

<link href="https://kineticgraphs.org/css/kg.0.2.6.css" rel="stylesheet" type="text/css">
<script src="https://kineticgraphs.org/js/kg.0.2.6.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--hay 3 tipos de respuestas: boolean, numeros, --> 
<!--menu estilo --> 
{% include 'global/questions_answers.html' %}
{% include 'global/interactive_questions_answers.html' %}
{% include 'global/initialize_questionnaire.html' %}
{% include 'global/menu.html' %}
<br><br>
<div class="cuadro" id = "the_budget_set">
<b>The budget set</b> <br><br>

The<b> budget set</b> contains all the combinations of goods ---or bundles--- that the consumer can afford given the prices of the goods and her income. 
<br><br>
Mathematically, the budget set includes all bundles <span id="spantext1"></span> that satisfy
<br><br>
<div id="equation1" style="text-align: center;"> </div>
<br>
The left-hand side of this expression is the cost of acquiring a specific bundle.
<br>
The right-hand side of the expression is just the income. 
<br>
The inequality states that the person can only acquire bundles that cost less than the income she has! 

<br><br>
</div>
<br><br>


<div class="cuadro" id="budget_line">
    <b>Budget Line</b>
    <br><br>
    The budget line is given by
    <div id="equation2" style="text-align: center;"></div>
    <br>
    It includes all bundles <span id="spantext2"></span> that are just affordable. 
    The next picture illustrates the budget restriction.
    <br>
</div>
<br><br>
<!--Grafico 1-->
{% include 'graphs/graph1.html' %}
<br><br>
<div class="cuadro" id="static_questions">
<b>Practice Questions:</b>
<br>
<br><br>
<div id="cuestionario_estatico_1"></div>
</div>
<br><br>
<div class="cuadro" id="interactive_questions">
  <b>Interactive Questions:</b>
<br><br>
Now you can change the price and income parameters to solve the same questions with a slightly different context:
<br><br>
  <div id="variables_cuestionario_interactivo_1">
  </div>
  <br><br>
  <div id="cuestionario_interactivo_1"></div>

</div>
<br><br>
<div class="cuadro" id="taxes">
<b>Taxes</b>
  <br><br>
Let us study how different taxes affect the budget set. 
<br><br>
We will study two types of taxes: sale tax and income tax. 
<br><br>
These taxes affect different parts of the budget line and, consequently, the budget set.
<br><br>
The sale tax is a per-unit tax imposed on the consumption of either good 1 or good 2. For example, if a per-unit tax of t dollars is imposed on good 1, then the consumer will need to pay
<br><br>
<div id="equation3" style="text-align: center;"></div>
<br><br>
per unit of good 1 that she acquires. After the tax the budget set is
<br><br>
<div id="equation4" style="text-align: center;"></div>

<br><br>
The next picture illustrates the budget restriction after the sale tax.
<br><br>
PICTURE.
<br><br>
</div>
<br><br>
<div class="cuadro" id="taxes_static_questions">
<b id="questions_tax">Practice Questions </b>
<br><br>
Let p <sub>1</sub> = 2, p <sub>2</sub> = 4, and m = 100. The government introduces a sale tax of t = 1 dollar on good 2.
<br><br>

Also PICTURE for Answers!
<br><br>
<div id="cuestionario_estatico_2"></div>
</div>

<br><br>
<div class="cuadro" id = "income_taxes"> 
<b>Income Tax</b>
<br><br>


The income tax is an amount of money that the consumer gives to the government. If an income tax T is introduced, then the effective income of the person reduces to
<br><br>
<div id="equation5" style="text-align: center;"></div>
<br><br>
After the tax the budget set is
<br><br>
<div id="equation6" style="text-align: center;"></div>
<br><br>
The next picture illustrates the budget restriction after the income tax.
<br><br>
PICTURE.
<br><br>

</div>



<!--
1. What is highest amount that the person can buy of good 1?
2. What is highest amount than the person can buy of good 2?
3. What is the cost of bundle(5,10)?
4. Is bundle (5,10) affordable?
5. What is the cost of bundle(40,10)?
6. Is bundle (40,10) affordable?
7. Suppose the person is consuming a bundle that that exhausts her income. If she reduces the consumption of good 2 in one unit, how many more units can the person acquire of good 2?

8. What is the slope of the budget line?
-->
<br><br>
<div class="cuadro" id="income_taxes_static_questions">
  <b id="questions_tax">Practice Questions </b>
  <br><br>
  Let p <sub>1</sub> = 2, p <sub>2</sub> = 4, and m = 100. The government introduces an income tax of T = 20 dollars.
Also PICTURE for Answers!
<br><br>
  <br><br>
  <div id="cuestionario_estatico_3"></div>
</div>




<!--
1. What is highest amount that the person can buy of good 1?
2. What is highest amount that the person can buy of good 2?
3. What is the cost of bundle (5, 10)?
4. Is bundle (5, 10) affordable?
5. What is the cost of bundle (40, 10)?
6. Is bundle (40, 10) affordable?
7. Suppose the person is consuming a bundle that that exhausts her income. If she reduces the consumption of good 2 in one unit, how many more units can the person acquire of good 2?
8. What is the slope of the budget line?

-->
    {{ next_button }}
    <script>
      var idDiv = "variables_cuestionario_interactivo_1";
      var variables = ["p1,2", "p2,4", "m,100"];
      generarVariablesCuestionarioInteractivo(idDiv, variables);

    </script>
    <script>

        ///instanciar los cuestionarios
        function instanciar_cuestionario_estatico(id_div_contenedor,inicio,final){
            //var id_div_contenedor = document.getElementById(id)
            mostrarPreguntasRespuestas(id_div_contenedor,inicio,final,"estatico");
        }
        function instanciar_cuestionario_interactivo(id_div_contenedor,inicio,final){
            //var id_div_contenedor = document.getElementById(id)
            mostrarPreguntasRespuestas(id_div_contenedor,inicio,final,"interactivo");
        }
        instanciar_cuestionario_estatico("cuestionario_estatico_1",1,8);
        instanciar_cuestionario_estatico("cuestionario_estatico_2",9,16);
        instanciar_cuestionario_estatico("cuestionario_estatico_3",17,24);
        instanciar_cuestionario_interactivo("cuestionario_interactivo_1",1,8);

    </script>
    
    <script>
        //ecuaciones
        document.addEventListener("DOMContentLoaded", function() {
        const equation1 = document.getElementById("equation1");
        equation1.innerHTML = katex.renderToString("p_{1} x_{1} + p_{2} x_{2} ≤ m");
        const equation2 = document.getElementById("equation2")
        equation2.innerHTML = katex.renderToString("p_{1} x_{1} + p_{2} x_{2} = m");
        const equation3 = document.getElementById("equation3")
        equation3.innerHTML = katex.renderToString("t + p_{i}");
        const equation4 = document.getElementById("equation4");
        equation4.innerHTML = katex.renderToString("(p_{1} + t) x_{1} + p_{2} x_{2} ≤ m");
        const equation5 = document.getElementById("equation5");
        equation5.innerHTML = katex.renderToString("m -T");
        const equation6 = document.getElementById("equation6")
        equation6.innerHTML = katex.renderToString("p_{1} x_{1} + p_{2} x_{2} ≤ m - T");

        const spantext1 = document.getElementById("spantext1")
        spantext1.innerHTML = katex.renderToString("(x_{1}, x_{2})");
        const spantext2 = document.getElementById("spantext2")
        spantext2.innerHTML = katex.renderToString("(x_{1}, x_{2})");
        });
    </script>

{{ endblock }}
